.products-grid {
  margin: 20px 0px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  column-gap: 50px;
  row-gap: 50px;
}

@media (max-width: 950px) {
  .products-grid {
    column-gap: 3px;
    row-gap: 30px;
  }
}

@media (max-width: 900px) {
  .products-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.all-products {
  text-decoration: none;
  color: white;
}

.all-products:hover {
  text-decoration: none;
  color: white;
}
